<app-header></app-header>
<div id="background-image"></div>
<div class="header-image">
  <div class="overlay"></div>
  <div class="header-content container">
    <h1 class="title text-center">
      <span class="title-border">Our Clients</span>
    </h1>
  </div>
</div>
<div class="container content-class">
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/jain.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/mountcarmel.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/pesit.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/acharya.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/kle.gif" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/kgi.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/vidyavardhaka.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/rit.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/stclaret.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/soundarya.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/cit.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/mlac.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>