<div class="footer">
  <div class="footer-wrapper p-4">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="logo-wrapper text-center pt-3 pb-5">
            <img src="../../assets/logo.png" class="img-responsive logoimage">
          </div>
        </div>
        <div class="all-section-wrapper">
          <div style="padding-left:25px;" class="row justify-content-center">
            <div class="col-lg-3 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about-us">
                  <h4 class="pb-1 sizeclass footer-text-after ">Company</h4>
                  <ul>
                    <li routerLink="/aboutus">About Us</li>
                    <li routerLink="/ourteam">Our Team</li>
                    <li>Clients</li>
                    <li>Partners</li>
                    <li>Careers</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about-us">
                  <h4 class="pb-1 sizeclass footer-text-after ">Product</h4>
                  <ul>
                    <li>Gamified Assessment</li>
                    <li>Quiz Platform</li>
                    <li>Hackathons</li>
                    <li>Buisnesss Games</li>
                    <li>Buisnesss Simulations</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about-us">
                  <h4 class="pb-1 sizeclass footer-text-after">Services</h4>
                  <ul>
                    <li>Employer Branding</li>
                    <li>Institutional Branding</li>
                    <li>Corporate Branding</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="about-us-wrapper m-2">
                <div class="about -us">
                  <h4 class="pb-1 sizeclass footer-text-after">Contact</h4>
                  <ul class="contact-us">
                    <li>Contact Us</li>
                    <li>Call</li>
                    <p>+91 445445445</p>
                    <li>Email</li>
                    <p>contact@buisnessstoys.in</p>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center justify-content-center">
          <div class="privacy-wrapper">
            <ul class="list-unstyled privacy-polycies">
              <li>Privacy Policies |</li>
              <li> Terms & Conditions</li>
            </ul><br>
            <ul class="list-unstyled privacy-polycies">
                <li><button class="social-button"  style="background:#3b5999">
                    <i class="title-icons large fa fa-facebook"></i>
                </button></li>
                <li><button class="social-button" style="background:#1da1f2">
                  <i class="title-icons large fa fa-twitter" ></i>
                </button></li>
                <li><button class="social-button" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);">
                  <i class="title-icons large fa fa-instagram" ></i>
                </button></li>
                <li><button class="social-button" style="background:#f03530">
                  <i class="title-icons large fa fa-google" ></i>
                </button></li>
                <li><button class="social-button" style="background:#007bb5">
                  <i class="title-icons large fa fa-linkedin" ></i>
                </button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>