<app-header></app-header>
<div id="background-image"></div>
<div class="header-image">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="title text-center">
            <span class="title-border">About Us</span>
        </h1>
    </div>
</div>
<div class="container content-class">
    <br><br>
    <p>Business Toys is YOUR employer branding consultant for enhancing your brand visibility, brand engagement and brand equity across campuses in India through enriching digital and(or) on-ground campaigns in form of competitions.</p>
    <p>For Companies and Institutes, we aim to conceptualise, market and execute campaigns in form of competitions, quizzes, hackathons, business strategy simulation games or any other gamified solution in a creative way to enable new dimensions of employer branding in campuses and competition-led-recruitment of future leaders.</p>
    <p>For Students, we aim to provide timely, authentic and relevant information about all the critical elements of a student journey under one single platform - Competitions, Quizzes, Hackathons, Business Simulations, Scholarships, Internships, Recruiter Diaries & Insights etc.</p>
</div>
<app-footer></app-footer>
