<app-header></app-header>
<div id="background-image"></div>
<div class="header-image">
  <div class="overlay"></div>
  <div class="header-content container">
    <h1 class="title text-center">
      <span class="title-border">Our Partners</span>
    </h1>
  </div>
</div>
<div class="container content-class">
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/nasscom.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/IITmadras.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/IIMculcutta.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/smart50.png" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/karnatakagov.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/elevateindia.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/startupkarnataka.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/spa.png" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/aws.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/paytm.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/acharya.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/TIEdehli.png" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/fcci.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
        <div class="flip-container">
          <div class="overlaywholecard">
            <div class="container details-class">
              <h5>Prateek Hegde</h5>
              <h5>Technology Solutions Architect</h5>
              <h5>gagan@gmail.com</h5>
            </div>
          </div>
          <img src="../assets/kma.jpg" alt="">
        </div>
      </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/mindmagnet.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-3 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5>Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5>gagan@gmail.com</h5>
          </div>
        </div>
        <img src="../assets/parmartha.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
