#background-image {
    /* background-color:red; */
    background-image:url("/assets/whiteback.png");
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-2;
    /* background-repeat: no-repeat;  */
    background-size: cover;
}
.header-image{
    height:150px;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.header-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.overlay{
    position: absolute;
    width: 100%;
    height:100%;
    background:linear-gradient(to bottom left,#0b5a88e7,#0e218abd);
}
.details-class{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* margin:10px; */
}
.title{
    color:#89eaf1;
    font-weight: lighter;
    font-family: 'Oxygen', sans-serif;
    transition: 0.3s all ease-in;
}
.title:hover{
    color:#fff;
    transform: scale(1.03);
    transition: 0.3s all ease-in;
}
.title-border{
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    padding:10px 25px 10px 25px; 
}
.page-heading{
    padding-top:10px;
}
.content-class{
    padding-left:50px;
    padding-right:50px;
    text-align: justify;
    font-size: 20px;
}
.flip-container{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:95%;
}
.overlaywholecard h5{
    padding:5px;
}
.row{
    margin-bottom:35px;
}
.overlaywholecard{
    position:absolute;
    width: 100%;
    height:100%;
    background:linear-gradient(to bottom left,#0b5a88e7,#0e218abd);
    z-index: 1;
    opacity:0;
    transition: opacity 0.2s ease-in;
    color:#89eaf1;
    text-align: left;
}
.flip-container:hover .overlaywholecard{
    opacity:1;
}
.member-name{
    font-size:35px;
}
h5{
    font-size: 20px;
    word-wrap: break-word;
}
.linkedin-h{
    font-size:25px;
}
a {
    color: #80dce8;
}
@media only screen and (max-width: 990px) {

    .title{
            font-size: 30px;
    }
    #background-image {
        /* background-color:red; */
        background-image:url("/assets/whiteback.png");
        position:absolute;
        top:0;
        left:0;
        height:150%;
        width:100%;
        z-index:-2;
        /* background-repeat: no-repeat;  */
        background-size: cover;
    }
    .content-class{
        padding-left:25px;
        padding-right:25px;
        text-align: justify;
        font-size: 20px;
    }
    .col-class{
        margin-top:10px;
    }
}