<app-header></app-header>
<div id="background-image"></div>
<div class="header-image">
  <div class="overlay"></div>
  <div class="header-content container">
    <h1 class="title text-center">
      <span class="title-border">Our Team</span>
    </h1>
  </div>
</div>
<div class="container content-class">
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Omkar Raikar</h5>
            <h5>Director and Cofounder</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/omkar2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Uttam Tiwari</h5>
            <h5>Director and Cofounder</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/uttam.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Vikram A G</h5>
            <h5>Cofounder</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/vikram.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/prateek.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Manikanta Prasad</h5>
            <h5>Market Research Analyst</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/mani.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Vasist Kumar</h5>
            <h5>Manager- Corporate Connect</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/prateek.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prashanth</h5>
            <h5>MEAN stack developer</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/prashanth.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/gagan.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Ajay Kumar</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/ajay.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Mohit Tejwani</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/mohit2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Hasnen Tai</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/hasnen2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5 class="linkedin-h">https://in.linkedin.com/in/prateek-hegde</h5>
          </div>
        </div>
        <img src="../assets/prateek.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>