<app-header></app-header>
<div id="background-image"></div>
<div class="header-image">
  <div class="overlay"></div>
  <div class="header-content container">
    <h1 class="title text-center">
      <span class="title-border">Our Team</span>
    </h1>
  </div>
</div>
<div class="container content-class">
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Omkar Raikar</h5>
            <h5>Director and Cofounder</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://in.linkedin.com/in/omkar-raikar-1b887a50">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/omkar2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Uttam Tiwari</h5>
            <h5>Director and Cofounder</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/uttam-tiwari-2b4b4861">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/uttam.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Vikram A G</h5>
            <h5>Cofounder</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/vikram-a-g-9bb93396/">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/vikram.jpeg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/prateek-hegde/">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/prateek.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Manikanta Prasad</h5>
            <h5>Market Research Analyst</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/manikanta-prasad-34842b133/">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/mani.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Vasist Kumar</h5>
            <h5>Manager- Corporate Connect</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/vasisth-kumar-294a3311a/">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/prateek.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prashanth S</h5>
            <h5>MEAN stack developer</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/prashanth-s-a2b336139/">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/prashanth2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">R Gagan Bharadwaj</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://in.linkedin.com/in/r-gagan-bharadwaj-37816716b">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/gagan.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Ajay Kumar</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/ajay-kumar-b-c-80b412164/">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/ajay.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 ">
      <div class="flip-container">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Mohit Tejwani</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.google.com">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/mohit2.JPG" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Hasnen Tai</h5>
            <h5>Front-end Developer</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.linkedin.com/in/hasnen-tai-7b143b143">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/hasnen2.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="flip-container  col-class">
        <div class="overlaywholecard">
          <div class="container details-class">
            <h5 class="member-name">Prateek Hegde</h5>
            <h5>Technology Solutions Architect</h5>
            <h5 class="linkedin-h text-center">
              <a href="https://www.google.com">
                <i class="large fa fa-linkedin"></i>
              </a>
            </h5>
          </div>
        </div>
        <img src="../assets/prateek.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>