<app-header></app-header>
<div id="background-image"></div>
<div class="header-image">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="title text-center">
            <span class="title-border">About Us</span>
        </h1>
    </div>
</div>
<div class="container content-class">
    <br><br>
    <div class="row justify-content-center">
      <div class="col-lg-3 ">
        <div class="imagediv">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      </div>
      <div class="col-lg-3">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-3">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img src="../assets/quizpic.jpg" alt="">
      </div>
    </div>
</div>
<app-footer></app-footer>
